body{
  width: 100vw;
  height: 100vh;
  color: black;
  font-weight: normal;
  background-color: rgb(212, 211, 224);
}

h1 {
  color: black;
  font-size: 1.5em;
  padding: 0 0 10px 0;
}

.container-fluid {
  margin: auto;
  width: 800px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#jumbo{
  background: #fff;
  color: #000;
  position: relative;
  padding: 50px;
}

.inner{
  color:#000;
  opacity: 1;
}

/*.card-img-top {
  width: 80%;
  height: 45vw;
  object-fit: cover;
}*/

.painting {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img.frame {
	border-image: url('frame.png') 93 92 87 92 stretch stretch;
	border-color: #f4be52;
	border-style: inset;
	border-width: 60px;
	width: 600px;
  margin: 0 auto;
}

.label {
  color: black;
  font-size: 1em;
  font-weight: normal;
  border: 1px solid rgba(0, 0, 0, 0.473);
  background-color: #fff;
  width: 333px;
  height: 150px;
  margin: 10px auto 0 auto;
  padding: 25px;
}