<!DOCTYPE html>
<html lang="en">

  <head>

    <link rel="shortcut icon" href="" />

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap" rel="stylesheet">

    <title>Monetify</title>

  </head>

  <body>

    <div class="container-fluid"> 

      <div id="banner">

        <h1>MONETIFY</h1>
        <p>Create Art From a Photo</p>
        <div class="cover"><div class="coverImg"> </div></div>
        <p>Upload a photo below and our algorithm can convert it into Monet's style.</p>

      </div>

      <div id="bContainer">

        <form method="post" action="/" enctype="multipart/form-data">
          <label class="upload">
            <input type="file" name="file" class="form-control" autocomplete="off" required/>
          </label>
            <input type="submit" value="Monetify!" class="submit">
        </form>

        <p>
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <p>
                {% for message in messages %}
                  {{ message }}
                {% endfor %}
              </p>
            {% endif %}
          {% endwith %}
        </p>

    </div>

    </div>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </body>
</html>